<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Fishing Game</title>
    <style>
      body {
        margin: 0;
        font-family: Arial, sans-serif;
        background-color: #f0f0f0;
        color: #111;
      }
    </style>
  </head>
  <body>
    <slot />
  </body>
</html>
